# Using PDBsum data to highlight changes in protein-protein interactions

This notebook builds on some of the basics covered in [Working with PDBsum in Jupyter Basics](Working%20with%20PDBsum%20in%20Jupyter%20Basics.ipynb) in order to compare protein-protein interactions of the same pair of proteins in two different structures.

----

### Retrieving Protein-Protein interface reports/ the list of interactions

This time we will need two different protein-protein interface reports, a.k.a, the list of interactions. We could get them directly from pages such as this [here](http://www.ebi.ac.uk/thornton-srv/databases/cgi-bin/pdbsum/GetPage.pl?pdbcode=6ah3&template=interfaces.html&o=RESIDUE&l=3) by collecting what is found when clicking on the link to the 'List of interactions' in the bottom right of the page and then copying the contents of each into this session. However, in [the previous notebook in this series](Working%20with%20PDBsum%20in%20Jupyter%20Basics.ipynb), we covered how to use curl to fetch the file into this session by provding a few details in the URL. We'll modify that to allow us to provide information needed and get two sets of data following a very similar way.

Here, the example data has the chains called the same letters in the PDB file; however, this doesn't have to be the case and the code is written to allow for that.  
**And the code is written for allowing changing of the settings to easily adapt it to examining the interaction of protein-protein pairs in your favorite related structures.**

Source of the data to use:</p>
From [Xue et al 2019 Structural basis of nucleosome recognition and modification by MLL methyltransferases](https://pubmed.ncbi.nlm.nih.gov/31485071/):
>"Here we report cryo-electron microscopy structures of human MLL1 and MLL3 catalytic modules associated with nucleosome core particles that contain H2BK120ub1 or unmodified H2BK120. These structures demonstrate that the MLL1 and MLL3 complexes both make extensive contacts with the histone-fold and DNA regions of the nucleosome; this allows ease of access to the histone H3 tail, which is essential for the efficient methylation of H3K4. The H2B-conjugated ubiquitin binds directly to RBBP5, orienting the association between MLL1 or MLL3 and the nucleosome. The MLL1 and MLL3 complexes display different structural organizations at the interface between the WDR5, RBBP5 and MLL1 (or the corresponding MLL3) subunits, which accounts for the opposite roles of WDR5 in regulating the activity of the two enzymes. These findings transform our understanding of the structural basis for the regulation of MLL activity at the nucleosome level, and highlight the pivotal role of nucleosome regulation in histone-tail modification."

PDB entried for possible comparison structures from that publication:
6KIU, 6KIW, 6KIV, 6KIX,  6KIZ


----

Let's define the structures to use.

In [1]:
structure1 = "6kiz"
structure2 = "6kix"

Let's define the chains to use

In [2]:
structure1_chain1 = "R"
structure1_chain2 = "N" # or "K" yields different results; don't know which is better illustrating yet
structure2_chain1 = structure1_chain1
structure2_chain2 = structure1_chain2

Let's define what we want the data files saved as:

In [3]:
structure1_df_name = "data_6kiz.txt"
structure2_df_name = "data_6kix.txt"

Code based on first notebook to get the interaction data files for each protein pair for each of the two structures:

In [4]:
def get_protein_inter_data_files(pdb_code,chain1,chain2,output_file_name):
    '''
    Takes a PDB entry accession identifier alphanumeic (PDB code), a chain 
    identifier for chain 1 and chain identifier for chain 2, along with a
    name to give the file produced when the data is retrieved and saved.

    The proteins have to interact in the structure.
    '''
    source_url = "http://www.ebi.ac.uk/thornton-srv/databases/cgi-bin/pdbsum/GetIface.pl"
    !curl -L -o {output_file_name} --data "pdb={pdb_code.lower()}&chain1={chain1}&chain2={chain2}" {source_url}
# Get data file for structure #1    
get_protein_inter_data_files(structure1,structure1_chain1,structure1_chain2,structure1_df_name)
# Get data file for structure #2   
get_protein_inter_data_files(structure2,structure2_chain1,structure2_chain2,structure2_df_name)

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  7528    0  7502  100    26   9216     31 --:--:-- --:--:-- --:--:--  9259
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  6068    0  6042  100    26  14183     61 --:--:-- --:--:-- --:--:-- 14210

We can lst the files prsent to varify the data files were obtained.

In [5]:
ls

 data_6kix.txt
 data_6kiz.txt
 data.txt
 pdbsum_data.tsv
 pdbsum_data.xlsx
 pdsum_prot_interactions_list_to_df.py
 prot_int_pickled_df.pkl
 __pycache__/
 reverted_df.pkl
'Using PDBsum data to highlight changes in protein-protein interactions.ipynb'
'Working with PDBsum in Jupyter Basics.ipynb'

<PRE>
List of atom-atom interactions across protein-protein interface
---------------------------------------------------------------
<P>
                 PDB code: 6kiz   Chains R }{ N
                 ------------------------------
<P>

Hydrogen bonds
--------------

       <----- A T O M   1 ----->       <----- A T O M   2 ----->

       Atom Atom Res  Res              Atom Atom Res  Res
        no. name name no.  Chain        no. name name no.  Chain  Distance
  1.  17464  NE2 GLN  204    R   <--> 14416  OE2 GLU  327    N      2.91
  2.  17470  SG  CYS  205    R   <--> 14448  O   ALA  331    N      3.27
  3.  17493  OG1 THR  208    R   <--> 14448  O   ALA  331    N      2.56
  4.  17403  NH2 ARG  196    R   <--> 14453  O   PHE  332    N      3.19
  5.  17493  OG1 THR  208    R   <--> 14453  O   PHE  332    N      2.88
  6.  17628  ND2 ASN  225    R   <--> 14702  O   SER  379    N      2.56
  7.  17641  NZ  LYS  227    R   <--> 14702  O   SER  379    N      3.33
  8.  17628  ND2 ASN  225    R   <--> 14704  OG  SER  379    N      3.03

Non-bonded contacts
-------------------

       <----- A T O M   1 ----->       <----- A T O M   2 ----->

       Atom Atom Res  Res              Atom Atom Res  Res
        no. name name no.  Chain        no. name name no.  Chain  Distance
  1.  17442  CA  ALA  201    R   <--> 12285  CD1 LEU   54    N      3.73
  2.  17445  CB  ALA  201    R   <--> 12285  CD1 LEU   54    N      3.83
  3.  17149  NZ  LYS  162    R   <--> 12290  O   THR   55    N      3.48
  4.  17461  CG  GLN  204    R   <--> 14413  CG  GLU  327    N      3.64
  5.  17461  CG  GLN  204    R   <--> 14416  OE2 GLU  327    N      3.31
  6.  17462  CD  GLN  204    R   <--> 14416  OE2 GLU  327    N      3.27
  7.  17464  NE2 GLN  204    R   <--> 14416  OE2 GLU  327    N      2.91
  8.  17470  SG  CYS  205    R   <--> 14447  C   ALA  331    N      3.83
  9.  17493  OG1 THR  208    R   <--> 14447  C   ALA  331    N      3.63
 10.  17470  SG  CYS  205    R   <--> 14448  O   ALA  331    N      3.27
 11.  17488  N   THR  208    R   <--> 14448  O   ALA  331    N      3.49
 12.  17492  CB  THR  208    R   <--> 14448  O   ALA  331    N      3.35

To prove that the data file has been retieved, we'll show the first 16 lines of it by running the next cell:

Later in this series of notebooks, I'll demonstrate how to make this stem even easier with just the PDB entry id and the chains you are interested in and the later how to loop on this process to get multiple data files for interactions from different structures.

### Making a Pandas dataframe from the interactions file

To convert the data to a dataframe, we'll ise a script.

 If you haven't encountered Pandas dataframes before I suggest you see the first two notebooks that come up with you launch a session from my [blast-binder](https://github.com/fomightez/blast-binder) site. Those first two notebooks cover using the dataframe containing BLAST results some. 
 
To get that script, you can run the next cell. (It is not included in the repository where this launches from to insure you always get the most current version, which is assumed to be the best available at the time.)

In [3]:
!curl -OL https://raw.githubusercontent.com/fomightez/structurework/master/pdbsum_utilities/pdsum_prot_interactions_list_to_df.py

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 19982  100 19982    0     0  29690      0 --:--:-- --:--:-- --:--:-- 29646

We have the script now. And we already have a data file for it to process. To process the data file, run the next command where we use Python to run the script and direct it at the results file, `data.txt`,  we made just a few cells ago.

In [4]:
%run pdsum_prot_interactions_list_to_df.py data.txt

Provided interactions data read and converted to a dataframe...

A dataframe of the data has been saved as a file
in a manner where other Python programs can access it (pickled form).
RESULTING DATAFRAME is stored as ==> 'prot_int_pickled_df.pkl'

As of writing this, the script we are using outputs a file that is a binary, compact form of the dataframe. (That means it is tiny and not human readable. It is called 'pickled'. Saving in that form may seem odd, but as illustrated [here](#Output-to-more-universal,-table-like-formats) below this is is a very malleable form. And even more pertinent for dealing with data in Jupyter notebooks, there is actually an easier way to interact with this script when in Jupyter notebook that skips saving this intermediate file. So hang on through the long, more trandtional way of doing this before the easier way is introduced. And I saved it in the compact form and not the mroe typical tab-delimited form because we mostly won't go this route and might as well make tiny files while working along to a better route. It is easy to convert back and forth using the pickled form assuming you can match the Pandas/Python versions.)

We can take that file where the dataframe is pickled, and bring it into active memory in this notebook with another command form the Pandas library. First, we have to import the Pandas library.
Run the next command to bring the dataframe into active memory. Note the name comes from the name noted when we ran the script in the cell above.

In [5]:
import pandas as pd
df = pd.read_pickle("prot_int_pickled_df.pkl")

When that last cell ran, you won't notice any output, but something happened. We can look at that dataframe by calling it in a cell.

In [6]:
df

,Atom1 no.,Atom1 name,Atom1 Res name,Atom1 Res no.,Atom1 Chain,Atom2 no.,Atom2 name,Atom2 Res name,Atom2 Res no.,Atom2 Chain,Distance,type
0,9937,NZ,LYS,326,B,20598,O,LYS,122,G,2.47,Hydrogen bonds
1,9591,O,CYS,280,B,19928,CG1,ILE,29,G,3.77,Non-bonded contacts
2,9591,O,CYS,280,B,19930,CD1,ILE,29,G,3.42,Non-bonded contacts
3,9593,SG,CYS,280,B,19872,NZ,LYS,22,G,3.81,Non-bonded contacts
4,9593,SG,CYS,280,B,19970,CD2,PHE,34,G,3.52,Non-bonded contacts
...,...,...,...,...,...,...,...,...,...,...,...,...
77,14243,OG,SER,874,B,20586,OD2,ASP,120,G,3.87,Non-bonded contacts
78,9613,OD2,ASP,283,B,19904,NE2,HIS,26,G,3.16,Salt bridges
79,9613,OD2,ASP,283,B,19940,NE2,HIS,30,G,3.89,Salt bridges
80,13201,NH2,ARG,736,B,20553,OD1,ASP,116,G,2.69,Salt bridges
81,13198,NE,ARG,736,B,20577,OD1,ASP,119,G,3.91,Salt bridges

You'll notice that if the list of data is large, that the Jupyter environment represents just the head and tail to make it more reasonable. There are ways you can have Jupyter display it all which we won't go into here. 

Instead we'll start to show some methods of dataframes that make them convenient. For example, you can use the `head` method to see the start like we used on the command line above.

In [7]:
df.head()

,Atom1 no.,Atom1 name,Atom1 Res name,Atom1 Res no.,Atom1 Chain,Atom2 no.,Atom2 name,Atom2 Res name,Atom2 Res no.,Atom2 Chain,Distance,type
0,9937,NZ,LYS,326,B,20598,O,LYS,122,G,2.47,Hydrogen bonds
1,9591,O,CYS,280,B,19928,CG1,ILE,29,G,3.77,Non-bonded contacts
2,9591,O,CYS,280,B,19930,CD1,ILE,29,G,3.42,Non-bonded contacts
3,9593,SG,CYS,280,B,19872,NZ,LYS,22,G,3.81,Non-bonded contacts
4,9593,SG,CYS,280,B,19970,CD2,PHE,34,G,3.52,Non-bonded contacts

Now what types of interactions are observed for theis pair of interacting protein chains?

To help answer that, we can group the results by the type column.

In [8]:
grouped = df.groupby('type')
for type, grouped_df in grouped:
    print(type)
    display(grouped_df)

Hydrogen bonds

,Atom1 no.,Atom1 name,Atom1 Res name,Atom1 Res no.,Atom1 Chain,Atom2 no.,Atom2 name,Atom2 Res name,Atom2 Res no.,Atom2 Chain,Distance,type
0,9937,NZ,LYS,326,B,20598,O,LYS,122,G,2.47,Hydrogen bonds

Non-bonded contacts

,Atom1 no.,Atom1 name,Atom1 Res name,Atom1 Res no.,Atom1 Chain,Atom2 no.,Atom2 name,Atom2 Res name,Atom2 Res no.,Atom2 Chain,Distance,type
1,9591,O,CYS,280,B,19928,CG1,ILE,29,G,3.77,Non-bonded contacts
2,9591,O,CYS,280,B,19930,CD1,ILE,29,G,3.42,Non-bonded contacts
3,9593,SG,CYS,280,B,19872,NZ,LYS,22,G,3.81,Non-bonded contacts
4,9593,SG,CYS,280,B,19970,CD2,PHE,34,G,3.52,Non-bonded contacts
5,9593,SG,CYS,280,B,19972,CE2,PHE,34,G,3.68,Non-bonded contacts
...,...,...,...,...,...,...,...,...,...,...,...,...
73,13200,NH1,ARG,736,B,20554,OD2,ASP,116,G,3.17,Non-bonded contacts
74,13201,NH2,ARG,736,B,20552,CG,ASP,116,G,3.56,Non-bonded contacts
75,13201,NH2,ARG,736,B,20553,OD1,ASP,116,G,2.69,Non-bonded contacts
76,13201,NH2,ARG,736,B,20554,OD2,ASP,116,G,3.66,Non-bonded contacts
77,14243,OG,SER,874,B,20586,OD2,ASP,120,G,3.87,Non-bonded contacts

Salt bridges

,Atom1 no.,Atom1 name,Atom1 Res name,Atom1 Res no.,Atom1 Chain,Atom2 no.,Atom2 name,Atom2 Res name,Atom2 Res no.,Atom2 Chain,Distance,type
78,9613,OD2,ASP,283,B,19904,NE2,HIS,26,G,3.16,Salt bridges
79,9613,OD2,ASP,283,B,19940,NE2,HIS,30,G,3.89,Salt bridges
80,13201,NH2,ARG,736,B,20553,OD1,ASP,116,G,2.69,Salt bridges
81,13198,NE,ARG,736,B,20577,OD1,ASP,119,G,3.91,Salt bridges

Same data as earlier but we can cleary see we have Hydrogen bonds, Non-bonded contacts (a.k.a., van der Waals contacts), and salt bridges, and we immediately get a sense of what types of interactions are more abundant.

You may want to get a sense of what else you can do by examining he first two notebooks that come up with you launch a session from my [blast-binder](https://github.com/fomightez/blast-binder) site. Those first two notebooks cover using the dataframe containing BLAST results some.

Shortly, we'll cover how to bring the dataframe we just made into the notebook without dealing with a file intermediate; however, next I'll demonstrate how to save it as text for use elsewhere, such as in Excel.

## Output to more universal, table-like formats

I've tried to sell you on the power of the Python/Pandas dataframe, but it isn't for all uses or everyone. However, most everyone is accustomed to dealing with text based tables or even Excel. In fact, a text-based based table perhaps tab or comma-delimited would be the better way to archive the data we are generating here. Python/Pandas makes it easy to go from the dataframe form to these tabular forms. You can even go back later from the table to the dataframe, which may be inportant if you are going to different versions of Python/Pandas as I briefly mentioned parenthetically above.

**First, generating a text-based table.**

In [9]:
#Save / write a TSV-formatted (tab-separated values/ tab-delimited) file
df.to_csv('pdbsum_data.tsv', sep='\t',index = False) #add `,header=False` to leave off header, too

Because `df.to_csv()` defaults to dealing with csv, you can simply use `df.to_csv('example.csv',index = False)` for comma-delimited (comma-separated) files.

You can see that worked by looking at the first few lines with the next command. (Feel free to make the number higher or delete the number all together. I restricted it just to first line to make output smaller.)

In [10]:
!head -5 pdbsum_data.tsv

Atom1 no.	Atom1 name	Atom1 Res name	Atom1 Res no.	Atom1 Chain	Atom2 no.	Atom2 name	Atom2 Res name	Atom2 Res no.	Atom2 Chain	Distance	type
9937	NZ	LYS	326	B	20598	O	LYS	122	G	2.47	Hydrogen bonds
9591	O	CYS	280	B	19928	CG1	ILE	29	G	3.77	Non-bonded contacts
9591	O	CYS	280	B	19930	CD1	ILE	29	G	3.42	Non-bonded contacts
9593	SG	CYS	280	B	19872	NZ	LYS	22	G	3.81	Non-bonded contacts

If you had need to go back from a tab-separated table to a dataframe, you can run something like in the following cell.

In [11]:
reverted_df = pd.read_csv('pdbsum_data.tsv', sep='\t')
reverted_df.to_pickle('reverted_df.pkl') # OPTIONAL: pickle that data too

For a comma-delimited (CSV) file you'd use `df = pd.read_csv('example.csv')` because `pd.read_csv()` method defaults to comma as the separator (`sep` parameter).

You can verify that read from the text-based table by viewing it with the next line.

In [12]:
reverted_df.head()

,Atom1 no.,Atom1 name,Atom1 Res name,Atom1 Res no.,Atom1 Chain,Atom2 no.,Atom2 name,Atom2 Res name,Atom2 Res no.,Atom2 Chain,Distance,type
0,9937,NZ,LYS,326,B,20598,O,LYS,122,G,2.47,Hydrogen bonds
1,9591,O,CYS,280,B,19928,CG1,ILE,29,G,3.77,Non-bonded contacts
2,9591,O,CYS,280,B,19930,CD1,ILE,29,G,3.42,Non-bonded contacts
3,9593,SG,CYS,280,B,19872,NZ,LYS,22,G,3.81,Non-bonded contacts
4,9593,SG,CYS,280,B,19970,CD2,PHE,34,G,3.52,Non-bonded contacts

**Generating an Excel spreadsheet from a dataframe.**

Because this is an specialized need, there is a special module needed that I didn't bother installing by default and so it needs to be installed before generating the Excel file. Running the next cell will do both.

In [13]:
%pip install openpyxl
# save to excel (KEEPS multiINDEX, and makes sparse to look good in Excel straight out of Python)
df.to_excel('pdbsum_data.xlsx') # after openpyxl installed

Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.0.5)
Requirement already satisfied: jdcal in /srv/conda/envs/notebook/lib/python3.7/site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.7/site-packages (from openpyxl) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

You'll need to download the file first to your computer and then view it locally as there is no viewer in the Jupyter environment.

Adiitionally, it is possible to add styles to dataframes and the styles such as shading of cells and coloring of text will be translated to the Excel document made as well.

Excel files can be read in to dataframes directly without needing to go to a text based intermediate first using the `xlrd` module.

In [14]:
%pip install xlrd
# read Excel, after xlrd installed
df_from_excel = pd.read_excel('pdbsum_data.xlsx') # after xlrd installed

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 1.7 MB/s eta 0:00:011
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

That can be viewed to convince yourself it worked by running the next command.

In [15]:
df_from_excel.head()

,Unnamed: 0,Atom1 no.,Atom1 name,Atom1 Res name,Atom1 Res no.,Atom1 Chain,Atom2 no.,Atom2 name,Atom2 Res name,Atom2 Res no.,Atom2 Chain,Distance,type
0,0,9937,NZ,LYS,326,B,20598,O,LYS,122,G,2.47,Hydrogen bonds
1,1,9591,O,CYS,280,B,19928,CG1,ILE,29,G,3.77,Non-bonded contacts
2,2,9591,O,CYS,280,B,19930,CD1,ILE,29,G,3.42,Non-bonded contacts
3,3,9593,SG,CYS,280,B,19872,NZ,LYS,22,G,3.81,Non-bonded contacts
4,4,9593,SG,CYS,280,B,19970,CD2,PHE,34,G,3.52,Non-bonded contacts

Next, we'll cover how to bring the dataframe we just made into the notebook without dealing with a file intermediate.

----

### Making a Pandas dataframe from the interactions file directly in Jupyter

First we'll check for the script we'll use and get it if we don't alreayd have it. 

(The thinking is once you know what you are doing you may have skipped all the steps above and not have the script you'll need yet. It cannot hurt to check and if it isn't present, bring it here.)

In [16]:
# Get a file if not yet retrieved / check if file exists
import os
file_needed = "pdsum_prot_interactions_list_to_df.py"
if not os.path.isfile(file_needed):
    !curl -OL https://raw.githubusercontent.com/fomightez/structurework/master/pdbsum-utilities/{file_needed}

This is going to rely on approaches very similar to those illustrated [here](https://github.com/fomightez/patmatch-binder/blob/6f7630b2ee061079a72cd117127328fd1abfa6c7/notebooks/PatMatch%20with%20more%20Python.ipynb#Passing-results-data-into-active-memory-without-a-file-intermediate) and [here](https://github.com/fomightez/patmatch-binder/blob/6f7630b2ee061079a72cd117127328fd1abfa6c7/notebooks/Sending%20PatMatch%20output%20directly%20to%20Python.ipynb##Running-Patmatch-and-passing-the-results-to-Python-without-creating-an-output-file-intermediate).

We obtained the `pdsum_prot_interactions_list_to_df.py` script in the preparation steps above. However, instead of using it as an external script as we did earlier in this notebook, we want to use the core function of that script within this notebook for the options that involve no file intermediatess. Similar to the way we imported a lot of other useful modules in the first notebook and a cell above, you can run the next cell to bring in to memory of this notebook's computational environment, the main function associated with the `pdsum_prot_interactions_list_to_df.py` script, aptly named `pdsum_prot_interactions_list_to_df`. (As written below the command to do that looks a bit redundant;however, the first from part of the command below actually is referencing the `pdsum_prot_interactions_list_to_df.py` script, but it doesn't need the `.py` extension because the import only deals with such files.)

In [17]:
from pdsum_prot_interactions_list_to_df import pdsum_prot_interactions_list_to_df

We can demonstrate that worked by calling the function.

In [18]:
pdsum_prot_interactions_list_to_df()

TypeError: pdsum_prot_interactions_list_to_df() missing 1 required positional argument: 'data_file'

If the module was not imported, you'd see `ModuleNotFoundError: No module named 'pdsum_prot_interactions_list_to_df'`, but instead you should see it saying it is missing `data_file` to act on because you passed it nothing.

After importing the main function of that script into this running notebook, you are ready to demonstrate the approach that doesn't require a file intermediates. The imported `pdsum_prot_interactions_list_to_df` function is used within the computational environment of the notebook and the dataframe produced assigned to a variable in the running the notebook. In the end, the results are in an active dataframe in the notebook without needing to read the pickled dataframe. **Although bear in mind the pickled dataframe still gets made, and it is good to download and keep that pickled dataframe since you'll find it convenient for reading and getting back into an analysis without need for rerunning earlier steps again.**

In [19]:
direct_df = pdsum_prot_interactions_list_to_df("data.txt")
direct_df.head()

Provided interactions data read and converted to a dataframe...

A dataframe of the data has been saved as a file
in a manner where other Python programs can access it (pickled form).
RESULTING DATAFRAME is stored as ==> 'prot_int_pickled_df.pkl'

Returning a dataframe with the information as well.

,Atom1 no.,Atom1 name,Atom1 Res name,Atom1 Res no.,Atom1 Chain,Atom2 no.,Atom2 name,Atom2 Res name,Atom2 Res no.,Atom2 Chain,Distance,type
0,9937,NZ,LYS,326,B,20598,O,LYS,122,G,2.47,Hydrogen bonds
1,9591,O,CYS,280,B,19928,CG1,ILE,29,G,3.77,Non-bonded contacts
2,9591,O,CYS,280,B,19930,CD1,ILE,29,G,3.42,Non-bonded contacts
3,9593,SG,CYS,280,B,19872,NZ,LYS,22,G,3.81,Non-bonded contacts
4,9593,SG,CYS,280,B,19970,CD2,PHE,34,G,3.52,Non-bonded contacts

This may be how you prefer to use the script. Either option exists.

----